.cardContainer  {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.carousel {
    margin: auto;
}

@media screen and (max-width: 500px) {
    .cardContainer {
        flex-direction: column;
    }
}
