@import "base";

// *{
//     -ms-overflow-style: none;
//     scrollbar-width: none;
// }

// *::-webkit-scrollbar{
//     display: none;
// }

// html
//     -ms-overflow-style: none
//     scrollbar-width: none
// html::-webkit-scrollbar
//     display: none

body {
    font-family: $police;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: $primary-color;
    color: $secondary-color;
}

h1 {
    font-family: $police-title;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

// account

.btn {
    @extend %btn;
}
