@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header .container-header ul {
  display: flex;
  justify-content: space-between;
}

header .container-header ul, header {
  display: flex;
  align-items: center;
}

header .header-nav-btn, header a {
  text-decoration: none;
  color: #2d2d2d;
  transition: ease 0.3s;
}
header .header-nav-btn:hover, header a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: all ease 0.3s;
}

.btn {
  background: #ffd700;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  border: #2d2d2d solid 1px;
  transform: scale(1.05);
}

header .container-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .container-header ul {
  display: flex;
  justify-content: space-between;
}

header .container-header ul, header {
  display: flex;
  align-items: center;
}

header .header-nav-btn, header a {
  text-decoration: none;
  color: #2d2d2d;
  transition: ease 0.3s;
}
header .header-nav-btn:hover, header a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: all ease 0.3s;
}

.btn {
  background: #ffd700;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  border: #2d2d2d solid 1px;
  transform: scale(1.05);
}

header .container-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .container-header ul {
  display: flex;
  justify-content: space-between;
}

header .container-header ul, header {
  display: flex;
  align-items: center;
}

header .header-nav-btn, header a {
  text-decoration: none;
  color: #2d2d2d;
  transition: ease 0.3s;
}
header .header-nav-btn:hover, header a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: all ease 0.3s;
}

.btn {
  background: #ffd700;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  border: #2d2d2d solid 1px;
  transform: scale(1.05);
}

header .container-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  top: 0;
  z-index: 25;
  background: #fff;
  position: sticky;
}
header .container-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 10vh;
}
header .container-header ul {
  width: 50%;
}
header .container-header ul {
  display: flex;
  justify-content: space-between;
}

header, header .container-header ul {
  display: flex;
  align-items: center;
}

header a, header .header-nav-btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: ease 0.3s;
}
header a:hover, header .header-nav-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: all ease 0.3s;
}

.btn {
  background: #ffd700;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  border: #2d2d2d solid 1px;
  transform: scale(1.05);
}

header .container-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background: #fff;
  margin: 0;
}

header .container-header ul {
  display: flex;
  justify-content: space-between;
}

header, header .container-header ul {
  display: flex;
  align-items: center;
}

header a, header .header-nav-btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: ease 0.3s;
}
header a:hover, header .header-nav-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: all ease 0.3s;
}

.btn {
  background: #ffd700;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  border: #2d2d2d solid 1px;
  transform: scale(1.05);
}

header .container-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainGallery {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 1100px;
  margin: auto;
}

.mainGallery section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 16px;
  transition: all 0.2s ease-in;
  padding: 1%;
}

.card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
  transform: scale(1.02);
}

.card-image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.5em;
  margin: 0 0 8px;
  cursor: pointer;
}

.card-description {
  font-size: 1em;
  margin: 0 0 16px;
  cursor: pointer;
}

.card-button {
  background-color: #ffd700;
  border: none;
  color: white;
  padding: 10px 16px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-image {
  width: 24px;
  height: 24px;
}

.btnsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.listOfItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .container-header ul {
  display: flex;
  justify-content: space-between;
}

header, header .container-header ul {
  display: flex;
  align-items: center;
}

header a, header .header-nav-btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: ease 0.3s;
}
header a:hover, header .header-nav-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: all ease 0.3s;
}

.btn {
  background: #ffd700;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  border: #2d2d2d solid 1px;
  transform: scale(1.05);
}

header .container-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cardContainer {
  display: flex;
}

@media screen and (max-width: 500px) {
  .cardContainer {
    flex-direction: column;
  }
}
header .container-header ul {
  display: flex;
  justify-content: space-between;
}

header, header .container-header ul {
  display: flex;
  align-items: center;
}

header a, header .header-nav-btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: ease 0.3s;
}
header a:hover, header .header-nav-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: all ease 0.3s;
}

.btn {
  background: #ffd700;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  border: #2d2d2d solid 1px;
  transform: scale(1.05);
}

header .container-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.homeMain {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .container-header ul {
  display: flex;
  justify-content: space-between;
}

header, header .container-header ul {
  display: flex;
  align-items: center;
}

header a, header .header-nav-btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: ease 0.3s;
}
header a:hover, header .header-nav-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: all ease 0.3s;
}

.btn {
  background: #ffd700;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  border: #2d2d2d solid 1px;
  transform: scale(1.05);
}

header .container-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 20px;
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -10;
}
.banner p {
  position: absolute;
  bottom: 100px;
  left: 20%;
  color: white;
  z-index: 10;
  font-size: 20px;
}
.banner h1 {
  position: absolute;
  bottom: 50px;
  left: 20%;
  color: white;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .banner p {
    display: none;
  }
  .banner h1 {
    font-size: 1.5rem;
    left: 10px;
  }
}

header .container-header ul {
  display: flex;
  justify-content: space-between;
}

header, header .container-header ul {
  display: flex;
  align-items: center;
}

header a, header .header-nav-btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: ease 0.3s;
}
header a:hover, header .header-nav-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: all ease 0.3s;
}

.btn {
  background: #ffd700;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  border: #2d2d2d solid 1px;
  transform: scale(1.05);
}

header .container-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  margin: auto;
  height: 50vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

header .container-header ul {
  display: flex;
  justify-content: space-between;
}

header, header .container-header ul {
  display: flex;
  align-items: center;
}

header a, header .header-nav-btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: ease 0.3s;
}
header a:hover, header .header-nav-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #2d2d2d;
  transition: all ease 0.3s;
}

.btn {
  background: #ffd700;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  border: #2d2d2d solid 1px;
  transform: scale(1.05);
}

header .container-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #f2f2f2;
  color: #2d2d2d;
}

h1, h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */